label{
    color: black;font-size:20px;
    margin-left: 3px;
}
.content {
    height: calc(100vh - 98px);
    border-radius: 10px;
    margin: 16px;
    margin-left: 32px;
    display: flex;
    color: lightgray;
}
.rr{
    height: 80vh; 
    overflow-x: false;
    width: 50vw;
}
@media (min-width: 268px) and (max-width: 991.98px) { 
    .content {
        height: calc(100vh + 10%);
        border-radius: 10px;
        margin: 16px;
        margin-left: 32px;
        display: flex;
      /*   color: lightgray; */
    }

    .rr{
        height: 50vh; 
        overflow-x: false;
        width: 60vw;
        /* background-color: aqua; */
    }
 }